@import "./mediaquery";
.logo-img{
    width: 50px;
    object-fit: cover;
}
.carousel-inner img {
    height: 500px;
    object-fit: cover;
}
.card {
    background-color: $colore-secondario;
    .card-body {
        background-color: $colore-info;
    }
}
.bi {
    color: white;
    font-size: 10px;
}
.card {
    @include xs {
        width: 10rem;
    }
    @include sm {
        width: 5rem;
    }
    @include md {
        width: 5rem;
    }
    @include lg {
        width: 5rem;
    }
    @include xl {
        width: 5rem;
    }

}