.logo-img{
    width: 50px;
    object-fit: cover;
}
.carousel-inner img {
    height: 500px;
    object-fit: cover;
}
.card {
    background-color: $colore-secondario;
    .card-body {
        background-color: $colore-info;
    }
}
.bi {
    color: white;
    font-size: 10px;
}